#UserNavbar {
    background-color: #F5F5F5;
    height: 80px;
}

#user-navbar-wrapper {
    display: flex;
    align-items: center;
}

.user-nav-top ul.nav > li a {
    font-family: "Raleway", sans-serif;
    color: #3F4D66;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.user-nav-top ul.nav > li a:hover,
.user-nav-top ul.nav > li a:hover {
    color: #f4c613;
}

#form-search {
    flex : 1;
}

#form-search input.form-control {
    font-family: "Open Sans", sans-serif;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 15px;
    /* width: 90%; */
    /* Margin-left: 300px; */
    min-height: 30px;
    border: 1px solid #3F4D66;
    border-radius: 5px;
    margin-top: 5px; 
    background-color: #fff;
}

#search-input input.form-control:focus {
    background-color: #fff;
}


