#other-comment-box {
    width: 500px;
    margin-left: 320px;
}

#comment-button {
    margin-top: 25px;
    left: 90px;
    margin-left: 700px;
    
}

#comment-button .btn-outline-success {
    border-radius: 5px;
    padding: 5px 20px;
    border-color: #3F4D66;
    color: #3F4D66;
}

#comment-content-reply {
    height: auto;
    padding: 20px;
    background-color: #B3E5FC;
    margin-bottom: 20px;
    box-shadow: 10px 10px #f4c613
}


#create-comment-box textarea {
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 13px;
    height: 200px;
    width: 500px;
    border: 2px solid #3F4D66 ;
    box-shadow: 10px 10px #3F4D66;


}