#other-comment-box {
    width: 500px;
    margin-left: 320px;
}

#comment-button {
    margin-top: 25px;
    left: 90px;
    margin-left: 700px;
    
}

#comment-button .btn-outline-success {
    border-radius: 5px;
    padding: 5px 20px;
    border-color: #3F4D66;
    color: #3F4D66;
}


#create-comment-box textarea {
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 13px;
    height: 200px;
    width: 500px;
    border-color: #9E9E9E;


}