

#navbar {
    overflow: hidden;

}

.white-nav-top {
    background: #3F4D66;
    padding: 5px 0;
    z-index: 2;
} 


.navbar {
    padding: 10px 0 10px 0;
}

.white-nav-top ul.nav > li a {
    font-family: "Raleway", sans-serif;
    color: #f4c613;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.nav > li a:hover,
ul.nav > li a:hover {
    color: #EF5350;
}


.btn-outline-primary {
    font-family: 'Railway', sans-serif;
    border-radius: 40px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px;
    transition: all .2s;
}

.btn-sm {
    color: #f4c613;
    border: 5px solid #f4c613;
    background-color: #3F4D66;
}

.btn-sm:hover,
.btn-sm:focus {
    color: #EF5350;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}