#about {
    background-color:#f4c613;;
    background-position: center;
    height: 400px;}

#contact-statement h3 {
    color: #3F4D66;
    margin-top: 100px;
    margin-left: 90px;
    font-size: 60px;
}

#contact-statement p {
    color: #3F4D66;
    margin-top: 40px;
    margin-left: 90px;
    letter-spacing: 2px;
    font-size: 20px;
}


#contact-logo {
    position: relative;
    top: 0;
}

#contact-logo a img {
    top: -500px;
    left: 650px;
    width: 220%;
    position: absolute;
}