#header {
    background-image: url(../../../Images/006.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    background-attachment: fixed;
}

#header .content-box-lg {
    background: rgba(63, 77, 102, 0.6);
    height: 550px;
}

#header-statement h2 {
    font-family: Helvetica, sans-serif;
    color: #f4c613;
    font-size: 100px;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 150px;
    font-weight: 900;
}

#header-statement h3 {
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-size: 40px;
    margin-top: 30px;
}

#header .btn-outline-secondary {
    font-family: 'Railway', sans-serif;
    border-radius: 60px;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 12px;
    padding: 12px 46px 12px;
    transition: all .2s;
    color: #f4c613;
    border: 2px solid #f4c613;
}

#header .btn-outline-secondary:hover,
#header .btn-outline-secondary:focus{
    color: #f4c613;
    background-color: #EF5350;
    border: 1px solid #EF5350;
}