#box-lg-1 {
    padding-left: 270px;
}

#button-wrapper {
    margin-left: 10px;

}
#button-wrapper #update-button {
    display: inline-block;
    padding: 5px;

}

#update-button .btn-outline-success {
    border-radius: 5px;
    padding: 5px 20px;
    border-color: #3F4D66;
    color: #3F4D66;
}

#update-button .btn-outline-success:hover,
#update-button .btn-outline-success:focus
 {
    border-color: #EF5350;
    color: #f4c613;
    background-color: #EF5350;

}

#button-wrapper-2 {
    margin-left: 705px;
    margin-bottom: 50px;

}
#button-wrapper-2 #update-button {
    display: inline-block;
    padding: 5px;

}

#update-button-2 .btn-outline-success {
    border-radius: 5px;
    padding: 5px 20px;
    border-color: #3F4D66;
    color: #3F4D66;

}

#update-button-2 .btn-outline-success:hover,
#update-button-2 .btn-outline-success:focus
 {
    border-color: #EF5350;
    color: #f4c613;
    background-color: #EF5350;

}
#comment-text-box{
    width : 25%;
    height : 50px;
}
#create-comment-box{

    margin-left: 320px;
    border-color:red;
}